<div class="container">
  <div class="row">



    <div class="col-md-4">

      <div class="input-group">

        <input type="text" ng-model="periodo"class="form-control" placeholder="Buscar periodo...">

        <span class="input-group-btn">

        <button class="btn btn-success" type="button" ng-click="FacturasXPeriodo(Facturas,periodo)" ng-show="mostrar" >Buscar</button>





      </span>

      </div><!-- /input-group -->
      

    </div><!-- /.col-lg-6 -->

<table class="table table-hover">

      <thead>

      <tr>

        <th>Mes</th>

        <th>Alimentacion</th>

        <th>Salud</th>

        <th>Vivienda</th>

        <th>Educacion</th>

        <th>Vestimenta</th>

        <th>Otros</th>
        



      </tr>

      </thead>

      <tbody>

      <!--ng-repeat="factura in factXperiodo"-->



      <!--<tr ng-repeat="mes in meses">-->

      <!--<td >{{mes}}</td>-->



      <!--</tr>-->

      <tr>

        <td>{{grupo.Enero.nombre}}</td>
        <td>{{grupo.Enero.tipo.alimentos.total}}</td>
        <td>{{grupo.Enero.tipo.salud.total}}</td>
        <td>{{grupo.Enero.tipo.vivienda.total}}</td>
        <td>{{grupo.Enero.tipo.educacion.total}}</td>
        <td>{{grupo.Enero.tipo.vestimenta.total}}</td>
        <td>{{grupo.Enero.tipo.otros.total}}</td>

      </tr>
      
        <tr>

        <td>{{grupo.Febrero.nombre}}</td>
        <td>{{grupo.Febrero.tipo.alimentos.total}}</td>
        <td>{{grupo.Febrero.tipo.salud.total}}</td>
        <td>{{grupo.Febrero.tipo.vivienda.total}}</td>
        <td>{{grupo.Febrero.tipo.educacion.total}}</td>
        <td>{{grupo.Febrero.tipo.vestimenta.total}}</td>
        <td>{{grupo.Febrero.tipo.otros.total}}</td>

      </tr>
      
        <tr>

        <td>{{grupo.Marzo.nombre}}</td>
        <td>{{grupo.Marzo.tipo.alimentos.total}}</td>
        <td>{{grupo.Marzo.tipo.salud.total}}</td>
        <td>{{grupo.Marzo.tipo.vivienda.total}}</td>
        <td>{{grupo.Marzo.tipo.educacion.total}}</td>
        <td>{{grupo.Marzo.tipo.vestimenta.total}}</td>
        <td>{{grupo.Marzo.tipo.otros.total}}</td>

      </tr>
      
        <tr>

        <td>{{grupo.Abril.nombre}}</td>
        <td>{{grupo.Abril.tipo.alimentos.total}}</td>
        <td>{{grupo.Abril.tipo.salud.total}}</td>
        <td>{{grupo.Abril.tipo.vivienda.total}}</td>
        <td>{{grupo.Abril.tipo.educacion.total}}</td>
        <td>{{grupo.Abril.tipo.vestimenta.total}}</td>
        <td>{{grupo.Abril.tipo.otros.total}}</td>

      </tr>
      
        <tr>

        <td>{{grupo.Mayo.nombre}}</td>
        <td>{{grupo.Mayo.tipo.alimentos.total}}</td>
        <td>{{grupo.Mayo.tipo.salud.total}}</td>
        <td>{{grupo.Mayo.tipo.vivienda.total}}</td>
        <td>{{grupo.Mayo.tipo.educacion.total}}</td>
        <td>{{grupo.Mayo.tipo.vestimenta.total}}</td>
        <td>{{grupo.Mayo.tipo.otros.total}}</td>

      </tr>
      
        <tr>

        <td>{{grupo.Junio.nombre}}</td>
        <td>{{grupo.Junio.tipo.alimentos.total}}</td>
        <td>{{grupo.Junio.tipo.salud.total}}</td>
        <td>{{grupo.Junio.tipo.vivienda.total}}</td>
        <td>{{grupo.Junio.tipo.educacion.total}}</td>
        <td>{{grupo.Junio.tipo.vestimenta.total}}</td>
        <td>{{grupo.Junio.tipo.otros.total}}</td>

      </tr>
      
        <tr>

        <td>{{grupo.Julio.nombre}}</td>
        <td>{{grupo.Julio.tipo.alimentos.total}}</td>
        <td>{{grupo.Julio.tipo.salud.total}}</td>
        <td>{{grupo.Julio.tipo.vivienda.total}}</td>
        <td>{{grupo.Julio.tipo.educacion.total}}</td>
        <td>{{grupo.Julio.tipo.vestimenta.total}}</td>
        <td>{{grupo.Julio.tipo.otros.total}}</td>

      </tr>
      
        <tr>

        <td>{{grupo.Agosto.nombre}}</td>
        <td>{{grupo.Agosto.tipo.alimentos.total}}</td>
        <td>{{grupo.Agosto.tipo.salud.total}}</td>
        <td>{{grupo.Agosto.tipo.vivienda.total}}</td>
        <td>{{grupo.Agosto.tipo.educacion.total}}</td>
        <td>{{grupo.Agosto.tipo.vestimenta.total}}</td>
        <td>{{grupo.Agosto.tipo.otros.total}}</td>

      </tr>
      
        <tr>

        <td>{{grupo.Septiembre.nombre}}</td>
        <td>{{grupo.Septiembre.tipo.alimentos.total}}</td>
        <td>{{grupo.Septiembre.tipo.salud.total}}</td>
        <td>{{grupo.Septiembre.tipo.vivienda.total}}</td>
        <td>{{grupo.Septiembre.tipo.educacion.total}}</td>
        <td>{{grupo.Septiembre.tipo.vestimenta.total}}</td>
        <td>{{grupo.Septiembre.tipo.otros.total}}</td>

      </tr>
      
        <tr>

        <td>{{grupo.Octubre.nombre}}</td>
        <td>{{grupo.Octubre.tipo.alimentos.total}}</td>
        <td>{{grupo.Octubre.tipo.salud.total}}</td>
        <td>{{grupo.Octubre.tipo.vivienda.total}}</td>
        <td>{{grupo.Octubre.tipo.educacion.total}}</td>
        <td>{{grupo.Octubre.tipo.vestimenta.total}}</td>
        <td>{{grupo.Octubre.tipo.otros.total}}</td>

      </tr>
      
        <tr>

        <td>{{grupo.Noviembre.nombre}}</td>
        <td>{{grupo.Noviembre.tipo.alimentos.total}}</td>
        <td>{{grupo.Noviembre.tipo.salud.total}}</td>
        <td>{{grupo.Noviembre.tipo.vivienda.total}}</td>
        <td>{{grupo.Noviembre.tipo.educacion.total}}</td>
        <td>{{grupo.Noviembre.tipo.vestimenta.total}}</td>
        <td>{{grupo.Noviembre.tipo.otros.total}}</td>

      </tr>
      
        <tr>

        <td>{{grupo.Diciembre.nombre}}</td>
        <td>{{grupo.Diciembre.tipo.alimentos.total}}</td>
        <td>{{grupo.Diciembre.tipo.salud.total}}</td>
        <td>{{grupo.Diciembre.tipo.vivienda.total}}</td>
        <td>{{grupo.Diciembre.tipo.educacion.total}}</td>
        <td>{{grupo.Diciembre.tipo.vestimenta.total}}</td>
        <td>{{grupo.Diciembre.tipo.otros.total}}</td>

      </tr>
      
        <tr>

        <td>{{grupo.Total.nombre}}</td>
        <td>{{grupo.Total.tipo.alimentos.total}}</td>
        <td>{{grupo.Total.tipo.salud.total}}</td>
        <td>{{grupo.Total.tipo.vivienda.total}}</td>
        <td>{{grupo.Total.tipo.educacion.total}}</td>
        <td>{{grupo.Total.tipo.vestimenta.total}}</td>
        <td>{{grupo.Total.tipo.otros.total}}</td>

      </tr>

      





    





      </tbody>

    </table>
  </div>
  <div class="row">
    <div class="col-md-4">
      <button ng-hide="mostrar" ng-click="exportarGP()" class="btn btn-success">Exportar</button>
    </div>
    <div class="col-md-4">
      <button ng-disabled="mostrar" ng-click="nuevaBusqueda()" class="btn btn-success">Nueva Consulta</button>
    </div>
  </div>
</div>
<!--{{grupo || JSON}}-->