<div class="container">
  <div class="row">



    <div class="col-md-4">

      <div class="input-group">

        <input type="text" ng-model="periodo"class="form-control" placeholder="Buscar periodo...">

        <span class="input-group-btn">

        <button class="btn btn-success" type="button" ng-click="FacturasXPeriodo(Facturas,periodo)" ng-show="mostrar" >Buscar</button>





      </span>

      </div><!-- /input-group -->
      

    </div><!-- /.col-lg-6 -->

<table class="table table-hover">

      <thead>

      <tr>

        <th>Mes</th>

        <th>Mercaderia</th>

        <th>Arriendo</th>

        <th>Servicios Basicos</th>

        <th>Sueldos</th>

        <th>Movilizacion</th>

        <th>Otros</th>
        <th>Viaticos</th>
        <th>Capacitacion</th>
        <th>suministros</th>
        <th>herramientas</th>
        



      </tr>

      </thead>

      <tbody>

      <!--ng-repeat="factura in factXperiodo"-->



      <!--<tr ng-repeat="mes in meses">-->

      <!--<td >{{mes}}</td>-->



      <!--</tr>-->

      <tr>

        <td>{{grupo.Enero.nombre}}</td>
        <td>{{grupo.Enero.tipo.mercaderia.total|currency}}</td>
        <td>{{grupo.Enero.tipo.arriendo.total|currency}}</td>
        <td>{{grupo.Enero.tipo.serviciosBasicos.total|currency}}</td>
        <td>{{grupo.Enero.tipo.sueldos.total|currency}}</td>
        <td>{{grupo.Enero.tipo.movilizacion.total|currency}}</td>
        <td>{{grupo.Enero.tipo.otros.total|currency}}</td>
          <td>{{grupo.Enero.tipo.viaticos.total|currency}}</td>
        <td>{{grupo.Enero.tipo.capacitacion.total|currency}}</td>
        <td>{{grupo.Enero.tipo.suministros.total|currency}}</td>
        <td>{{grupo.Enero.tipo.herramientas.total|currency}}</td>

      </tr>
      
        <tr>

        <td>{{grupo.Febrero.nombre}}</td>
        <td>{{grupo.Febrero.tipo.mercaderia.total|currency}}</td>
        <td>{{grupo.Febrero.tipo.arriendo.total|currency}}</td>
        <td>{{grupo.Febrero.tipo.serviciosBasicos.total|currency}}</td>
        <td>{{grupo.Febrero.tipo.sueldos.total|currency}}</td>
        <td>{{grupo.Febrero.tipo.movilizacion.total|currency}}</td>
        <td>{{grupo.Febrero.tipo.otros.total|currency}}</td>
          <td>{{grupo.Febrero.tipo.viaticos.total|currency}}</td>
        <td>{{grupo.Febrero.tipo.capacitacion.total|currency}}</td>
        <td>{{grupo.Febrero.tipo.suministros.total|currency}}</td>
        <td>{{grupo.Febrero.tipo.herramientas.total|currency}}</td>

      </tr>
      
        <tr>

        <td>{{grupo.Marzo.nombre}}</td>
        <td>{{grupo.Marzo.tipo.mercaderia.total|currency}}</td>
        <td>{{grupo.Marzo.tipo.arriendo.total|currency}}</td>
        <td>{{grupo.Marzo.tipo.serviciosBasicos.total|currency}}</td>
        <td>{{grupo.Marzo.tipo.sueldos.total|currency}}</td>
        <td>{{grupo.Marzo.tipo.movilizacion.total|currency}}</td>
        <td>{{grupo.Marzo.tipo.otros.total|currency}}</td>
          <td>{{grupo.Marzo.tipo.viaticos.total|currency}}</td>
        <td>{{grupo.Marzo.tipo.capacitacion.total|currency}}</td>
        <td>{{grupo.Marzo.tipo.suministros.total|currency}}</td>
        <td>{{grupo.Marzo.tipo.herramientas.total|currency}}</td>

      </tr>
      
        <tr>

        <td>{{grupo.Abril.nombre}}</td>
        <td>{{grupo.Abril.tipo.mercaderia.total|currency}}</td>
        <td>{{grupo.Abril.tipo.arriendo.total|currency}}</td>
        <td>{{grupo.Abril.tipo.serviciosBasicos.total|currency}}</td>
        <td>{{grupo.Abril.tipo.sueldos.total|currency}}</td>
        <td>{{grupo.Abril.tipo.movilizacion.total|currency}}</td>
        <td>{{grupo.Abril.tipo.otros.total|currency}}</td>
          <td>{{grupo.Abril.tipo.viaticos.total|currency}}</td>
        <td>{{grupo.Abril.tipo.capacitacion.total|currency}}</td>
        <td>{{grupo.Abril.tipo.suministros.total|currency}}</td>
        <td>{{grupo.Abril.tipo.herramientas.total|currency}}</td>

      </tr>
      
        <tr>

        <td>{{grupo.Mayo.nombre}}</td>
        <td>{{grupo.Mayo.tipo.mercaderia.total|currency}}</td>
        <td>{{grupo.Mayo.tipo.arriendo.total|currency}}</td>
        <td>{{grupo.Mayo.tipo.serviciosBasicos.total|currency}}</td>
        <td>{{grupo.Mayo.tipo.sueldos.total|currency}}</td>
        <td>{{grupo.Mayo.tipo.movilizacion.total|currency}}</td>
        <td>{{grupo.Mayo.tipo.otros.total|currency}}</td>
          <td>{{grupo.Mayo.tipo.viaticos.total|currency}}</td>
        <td>{{grupo.Mayo.tipo.capacitacion.total|currency}}</td>
        <td>{{grupo.Mayo.tipo.suministros.total|currency}}</td>
        <td>{{grupo.Mayo.tipo.herramientas.total|currency}}</td>

      </tr>
      
        <tr>

        <td>{{grupo.Junio.nombre}}</td>
        <td>{{grupo.Junio.tipo.mercaderia.total|currency}}</td>
        <td>{{grupo.Junio.tipo.arriendo.total|currency}}</td>
        <td>{{grupo.Junio.tipo.serviciosBasicos.total|currency}}</td>
        <td>{{grupo.Junio.tipo.sueldos.total|currency}}</td>
        <td>{{grupo.Junio.tipo.movilizacion.total|currency}}</td>
        <td>{{grupo.Junio.tipo.otros.total|currency}}</td>
          <td>{{grupo.Junio.tipo.viaticos.total|currency}}</td>
        <td>{{grupo.Junio.tipo.capacitacion.total|currency}}</td>
        <td>{{grupo.Junio.tipo.suministros.total|currency}}</td>
        <td>{{grupo.Junio.tipo.herramientas.total|currency}}</td>

      </tr>
      
        <tr>

        <td>{{grupo.Julio.nombre}}</td>
        <td>{{grupo.Julio.tipo.mercaderia.total|currency}}</td>
        <td>{{grupo.Julio.tipo.arriendo.total|currency}}</td>
        <td>{{grupo.Julio.tipo.serviciosBasicos.total|currency}}</td>
        <td>{{grupo.Julio.tipo.sueldos.total|currency}}</td>
        <td>{{grupo.Julio.tipo.movilizacion.total|currency}}</td>
        <td>{{grupo.Julio.tipo.otros.total|currency}}</td>
          <td>{{grupo.Julio.tipo.viaticos.total|currency}}</td>
        <td>{{grupo.Julio.tipo.capacitacion.total|currency}}</td>
        <td>{{grupo.Julio.tipo.suministros.total|currency}}</td>
        <td>{{grupo.Julio.tipo.herramientas.total|currency}}</td>

      </tr>
      
        <tr>

        <td>{{grupo.Agosto.nombre}}</td>
        <td>{{grupo.Agosto.tipo.mercaderia.total|currency}}</td>
        <td>{{grupo.Agosto.tipo.arriendo.total|currency}}</td>
        <td>{{grupo.Agosto.tipo.serviciosBasicos.total|currency}}</td>
        <td>{{grupo.Agosto.tipo.sueldos.total|currency}}</td>
        <td>{{grupo.Agosto.tipo.movilizacion.total|currency}}</td>
        <td>{{grupo.Agosto.tipo.otros.total|currency}}</td>
          <td>{{grupo.Agosto.tipo.viaticos.total|currency}}</td>
        <td>{{grupo.Agosto.tipo.capacitacion.total|currency}}</td>
        <td>{{grupo.Agosto.tipo.suministros.total|currency}}</td>
        <td>{{grupo.Agosto.tipo.herramientas.total|currency}}</td>

      </tr>
      
        <tr>

        <td>{{grupo.Septiembre.nombre}}</td>
        <td>{{grupo.Septiembre.tipo.mercaderia.total|currency}}</td>
        <td>{{grupo.Septiembre.tipo.arriendo.total|currency}}</td>
        <td>{{grupo.Septiembre.tipo.serviciosBasicos.total|currency}}</td>
        <td>{{grupo.Septiembre.tipo.sueldos.total|currency}}</td>
        <td>{{grupo.Septiembre.tipo.movilizacion.total|currency}}</td>
        <td>{{grupo.Septiembre.tipo.otros.total|currency}}</td>
          <td>{{grupo.Septiembre.tipo.viaticos.total|currency}}</td>
        <td>{{grupo.Septiembre.tipo.capacitacion.total|currency}}</td>
        <td>{{grupo.Septiembre.tipo.suministros.total|currency}}</td>
        <td>{{grupo.Septiembre.tipo.herramientas.total|currency}}</td>

      </tr>
      
        <tr>

        <td>{{grupo.Octubre.nombre}}</td>
        <td>{{grupo.Octubre.tipo.mercaderia.total|currency}}</td>
        <td>{{grupo.Octubre.tipo.arriendo.total|currency}}</td>
        <td>{{grupo.Octubre.tipo.serviciosBasicos.total|currency}}</td>
        <td>{{grupo.Octubre.tipo.sueldos.total|currency}}</td>
        <td>{{grupo.Octubre.tipo.movilizacion.total|currency}}</td>
        <td>{{grupo.Octubre.tipo.otros.total|currency}}</td>
          <td>{{grupo.Octubre.tipo.viaticos.total|currency}}</td>
        <td>{{grupo.Octubre.tipo.capacitacion.total|currency}}</td>
        <td>{{grupo.Octubre.tipo.suministros.total|currency}}</td>
        <td>{{grupo.Octubre.tipo.herramientas.total|currency}}</td>

      </tr>
      
        <tr>

        <td>{{grupo.Noviembre.nombre}}</td>
        <td>{{grupo.Noviembre.tipo.mercaderia.total|currency}}</td>
        <td>{{grupo.Noviembre.tipo.arriendo.total|currency}}</td>
        <td>{{grupo.Noviembre.tipo.serviciosBasicos.total|currency}}</td>
        <td>{{grupo.Noviembre.tipo.sueldos.total|currency}}</td>
        <td>{{grupo.Noviembre.tipo.movilizacion.total|currency}}</td>
        <td>{{grupo.Noviembre.tipo.otros.total|currency}}</td>
          <td>{{grupo.Noviembre.tipo.viaticos.total|currency}}</td>
        <td>{{grupo.Noviembre.tipo.capacitacion.total|currency}}</td>
        <td>{{grupo.Noviembre.tipo.suministros.total|currency}}</td>
        <td>{{grupo.Noviembre.tipo.herramientas.total|currency}}</td>

      </tr>
      
        <tr>

        <td>{{grupo.Diciembre.nombre}}</td>
        <td>{{grupo.Diciembre.tipo.mercaderia.total|currency}}</td>
        <td>{{grupo.Diciembre.tipo.arriendo.total|currency}}</td>
        <td>{{grupo.Diciembre.tipo.serviciosBasicos.total|currency}}</td>
        <td>{{grupo.Diciembre.tipo.sueldos.total|currency}}</td>
        <td>{{grupo.Diciembre.tipo.movilizacion.total|currency}}</td>
        <td>{{grupo.Diciembre.tipo.otros.total|currency}}</td>
          <td>{{grupo.Diciembre.tipo.viaticos.total|currency}}</td>
        <td>{{grupo.Diciembre.tipo.capacitacion.total|currency}}</td>
        <td>{{grupo.Diciembre.tipo.suministros.total|currency}}</td>
        <td>{{grupo.Diciembre.tipo.herramientas.total|currency}}</td>

      </tr>
      
        <tr>

        <td>{{grupo.Total.nombre}}</td>
        <td>{{grupo.Total.tipo.mercaderia.total|currency}}</td>
        <td>{{grupo.Total.tipo.arriendo.total|currency}}</td>
        <td>{{grupo.Total.tipo.serviciosBasicos.total|currency}}</td>
        <td>{{grupo.Total.tipo.sueldos.total|currency}}</td>
        <td>{{grupo.Total.tipo.movilizacion.total|currency}}</td>
        <td>{{grupo.Total.tipo.otros.total|currency}}</td>
          <td>{{grupo.Total.tipo.viaticos.total|currency}}</td>
        <td>{{grupo.Total.tipo.capacitacion.total|currency}}</td>
        <td>{{grupo.Total.tipo.suministros.total|currency}}</td>
        <td>{{grupo.Total.tipo.herramientas.total|currency}}</td>

      </tr>

      





    





      </tbody>

    </table>
  </div>
  <div class="row">
    <div class="col-md-4">
      <button ng-hide="mostrar" ng-click="exportarGP()" class="btn btn-success">Exportar</button>
    </div>
    <div class="col-md-4">
      <button ng-hide="mostrar" ng-click="nuevaBusqueda()" class="btn btn-success">Nueva Consulta</button>
    </div>
  </div>
</div>
<!--{{grupo || JSON}}-->